
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap" rel="stylesheet">
    <title>@ViewBag.Title Graph Vote SF</title>
    <script type="text/javascript" src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables-1.10.22/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" src="~/Scripts/respond.js"></script>
    <script type="text/javascript" src="~/Scripts/Canvas/canvasjs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/Chart.min.js"></script>

    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/custom.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/DataTables-1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">

</head>
<body style="background-image:url('space2.jpg');">

    <div class="container-fluid" id="content">
        <a class="btn btn-primary" href="@Url.Action("About", "Home")"> Reuslt</a>
        <div class="row justify-content-md-center">
            <div class="col-12 text-center md-auto">
                <h1 style="font-size:3rem;color:#ffffff"><img width="150" src="/Common/Vote_graph/fonts/SFSDTLogo.png">Booth Vote Score Realtime</h1>
            </div>
            <div class="col-2 text-center md-auto">
                <div class="ani2"></div>
            </div>
            <div style="width:90%;height:50%">
                <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            Flex_chart();
            function Flex_chart() {
                $.ajax({
                    type: "POST",
                    url: "/Home/NewChart",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (chData) {
                        console.log(chData);
                        var aData = chData;
                        var aLabels = aData[0];
                        var aDatasets1 = aData[1];
                        var dataT = {
                            labels: aLabels,
                            datasets: [{
                                label: "SCORE POINT",
                                fontSize: 20,
                                data: aDatasets1,
                                fill: false,
                                backgroundColor: [
                                    "rgb(255, 0, 0)",
                                    "rgb(0, 255, 0)",
                                    "rgb(60, 179, 113)",
                                    "rgb(0, 0, 255)",
                                    "rgb(238, 130, 238)",
                                    "rgb(255, 165, 0)",
                                    "rgb(106, 90, 205)",
                                ],
                                borderColor: [
                                    "rgb(255, 0, 0)",
                                    "rgb(0, 255, 0)",
                                    "rgb(60, 179, 113)",
                                    "rgb(0, 0, 255)",
                                    "rgb(238, 130, 238)",
                                    "rgb(255, 165, 0)",
                                    "rgb(106, 90, 205)",
                                ],
                                borderWidth: 1
                            }]
                        };
                        var ctx = $("#myChart").get(0).getContext("2d");
                        var myNewChart = new Chart(ctx, {
                            type: 'bar',
                            data: dataT,
                            options: {
                                responsive: true,
                                title: {
                                    display: true,
                                    text: '',
                                    fontColor: '#ffffff',
                                    fontSize: 25,
                                   
                                    
                                },
                                toolTip: {
                                    fontSize: 35
                                },
                                animation: {
                                    duration: 0,
                                    onComplete: function () {
                                        // render the value of the chart above the bar
                                        var ctx = this.chart.ctx;
                                        ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, '60px', Chart.defaults.global.defaultFontFamily);
                                        //ctx.fillStyle = this.chart.config.options.defaultFontColor;
                                        fontColor: '#ffffff';
                                        ctx.textAlign = 'center';
                                        ctx.textBaseline = 'bottom';
                                        this.data.datasets.forEach(function (dataset) {
                                            for (var i = 0; i < dataset.data.length; i++) {
                                                var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model;
                                                ctx.fillText(dataset.data[i], model.x, model.y - 5);
                                            }
                                        });
                                    }
                                },
                                legend: {
                                    position: 'bottom', labels: {
                                        fontColor: "#ffffff",
                                        fontSize: 20,
                                    }
                                },
                                scales: {
                                    xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { min: 0, stepSize: 1, fontColor: "#ffffff", fontSize: 25 }, }],
                                    yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { stepSize: 1, beginAtZero: true, fontColor: "#ffffff", fontSize: 25 } }]
                                },
                                plugins: {
                                    datalabels: {
                                        anchor: 'end',
                                        align: 'top',
                                        formatter: function (value, context) {
                                            return GetValueFormatted(value);
                                        }
                                    }
                                },
                            }
                        });
                    }
                });
            }
            var updateInterval = 3000;
            setInterval(function () { Flex_chart() }, updateInterval);
        });

    </script>
</body>
</html>
@*<img src="~/fonts/SFSDTLogo.png" alt="..." class="mx-auto d-block" width="120px;" height="120px;">
    BOOT VOTE RESULTS*@
@*<div Style="font-family: Corbel; font-size: small ;text-align:center " class="row">
    <div style="width:90%;height:50%">


        <canvas id="myChart" style="padding: 0;margin: auto;display: block; "> </canvas>
    </div>
</div>*@